.mainPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    .containerPost{
        .form-group{
            .form-control{
    
            }
        }
    }
    
}