@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');

html,
body{
    font-family: "Boogaloo", cursive;
}

.container{
    margin: 80px auto 0px auto;
    max-width: 1200px;
}

.nav{
    padding-bottom: 30px;
}

.logo{
    padding-right:500px;
    flex: 1;
}


.appBar{
    display:flex;
    flex-direction: row;
}

.nav-container{
    max-width: 80%;
    margin: auto;
    padding:10px 10px;
    justify-content: center;
}

.navButtons{
    display: flex;
    flex-direction: row;
    flex: 1;
}

/* .search{
    display: flex;
    flex-direction: row;
    flex: 1;
    border-color: aqua;
    border: 1px solid black;
    padding-right: 10px;
}
.searchIcon{
    padding-top: 3px;
    padding-right: 10px;
} */